name: Build Wheels

on: workflow_dispatch

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs_macos: ""
          - os: macos-15-intel
            cibw_archs_macos: x86_64
          - os: macos-14
            cibw_archs_macos: arm64
          - os: windows-latest
            cibw_archs_macos: ""
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: "cp3{9,10,11,12,13,14}-*"
          CIBW_ARCHS_MACOS: ${{ matrix.cibw_archs_macos }}
          CIBW_BEFORE_ALL_MACOS: "HOMEBREW_NO_AUTO_UPDATE=1 brew install ninja readline"
          CIBW_BEFORE_ALL_LINUX: "yum install -y ninja-build"
          CIBW_TEST_REQUIRES: pytest mock
          CIBW_TEST_COMMAND: pytest -m 'not manual' {package}/tests
          CIBW_TEST_SKIP: "*-musllinux_*"
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
